<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>871451797663-n0ft8lom090ta5h1knvnl2af1rpel50r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.871451797663-n0ft8lom090ta5h1knvnl2af1rpel50r</string>
	<key>API_KEY</key>
	<string>AIzaSyDJ3uAxSveoEDFbpv3_2eWG9SxJ2cgacUQ</string>
	<key>GCM_SENDER_ID</key>
	<string>871451797663</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.association</string>
	<key>PROJECT_ID</key>
	<string>pfeapp-875b5</string>
	<key>STORAGE_BUCKET</key>
	<string>pfeapp-875b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:871451797663:ios:9cfe5d94116b574d4c5aaa</string>
	<key>DATABASE_URL</key>
	<string>https://pfeapp-875b5.firebaseio.com</string>
</dict>
</plist>